@charset "UTF-8";

.hidden {
  display: none;
}

.mask {
  position: absolute;
  z-index: 100;
  background-color: rgba(0,0,0,.3);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: opacity .3s ease-out;
  display: none;
}


pre {
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  word-wrap: break-word;      /* IE 5+ */
}


::-webkit-scrollbar {
  -webkit-appearance:none;
  width:8px;
  _background-color:#f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-clip:content-box;
  _background-color:#bfbfbf;
  background-color:rgba(0,0,0, .25);
}
::-webkit-scrollbar-thumb:hover {
  background-color:rgba(0,0,0, .2);
}

::-webkit-scrollbar-corner {
  background-color:#e6e6e6;
}



@mixin headbar {
  .headbar {
    background-color: #0076DE;
    color: #fff;
    height: 44px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    i {
      font-style: normal;
      line-height: 44px;
      padding: 12px;
      font-size: 14px;

      &.icon-ok {
        float: right;
        display: inline-block;
        padding: 0 10px;
      }
      &.icon-ok:before {
        margin-right: 5px;
      }

      &:hover {
        background-color: #00AEEF;
        cursor: pointer;
      }
    }


    .addNote {
      line-height: 44px;
      font-style: normal;
      font-size: 18px;
      padding: 10px;
      cursor: pointer;
      &:before {
        margin-right: 10px;
        font-size: 20px;
      }
      &:hover {
        background-color: #00AEEF;
      }
    }


  }
}
