
.icon-ok:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-database:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-code:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e807'; } /* '' */
.icon-fire:before { content: '\e808'; } /* '' */
.icon-wallet:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-paper-plane:before { content: '\e80b'; } /* '' */
.icon-list-bullet:before { content: '\e80c'; } /* '' */
.icon-list-numbered:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e810'; } /* '' */
.icon-spin1:before { content: '\e812'; } /* '' */
.icon-search-1:before { content: '\e813'; } /* '' */
.icon-params:before { content: '\e814'; } /* '' */
.icon-attach:before { content: '\e815'; } /* '' */
.icon-tag:before { content: '\e816'; } /* '' */
.icon-calendar-1:before { content: '\e817'; } /* '' */
.icon-trash:before { content: '\e818'; } /* '' */