
.icon-flow-cascade:before { content: '\e800'; } /* '' */
.icon-flow-branch:before { content: '\e801'; } /* '' */
.icon-cog-outline:before { content: '\e802'; } /* '' */
.icon-flow-line:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-code:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e807'; } /* '' */
.icon-right-open-1:before { content: '\e808'; } /* '' */
.icon-dot-3:before { content: '\e809'; } /* '' */
.icon-list:before { content: '\e80a'; } /* '' */
.icon-code-1:before { content: '\e80b'; } /* '' */
.icon-contacts:before { content: '\e80c'; } /* '' */
.icon-picture-outline:before { content: '\e80d'; } /* '' */
.icon-book-open:before { content: '\e80e'; } /* '' */
.icon-book-alt:before { content: '\e80f'; } /* '' */
.icon-book-open-1:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e819'; } /* '' */
.icon-check:before { content: '\e81b'; } /* '' */
.icon-cancel-1:before { content: '\e81c'; } /* '' */