@charset "UTF-8";

@import "common.scss";


* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

$basefont: 14px;

html {
  font-size: $basefont;
  font-family: 'Microsoft YaHei UI','Microsoft YaHei',sans-serif;
}

.template {
  display: none;
}

li {
}

.sidebar {
  width: 44px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #F9F9F9;
  border-right: 1px solid #E6E6E6;
  z-index: 10;
  i {
    font-size: 1.2rem;
    color: #fff;
    float: left;
    cursor: pointer;
    transition: background-color .3s ease-out;

    &.icon-plus {
      font-size: 1.5rem;
    }
    &:before {
      width: 44px;
      margin: 0;
      display: inline-block;
      height: 44px;
      text-align: center;
      color: #444;
      font-weight: 100;
      vertical-align: middle;
      line-height: 44px;
    }

    &:hover {
      background-color: #DDEBF7;
    }

    &.icon-menu.on:before {
      background-color: #0076DE;
      color: #fff;
    }

    &.icon-cog {
      position: absolute;
      left:0;
      bottom: 0;
    }
  }
}

.navby {
    z-index: 9;
}

.nav-books {
  width: 300px;
  position: absolute;
  left: 44px;
  top: 0;
  bottom: 0;
  z-index: 9;
  -webkit-transform: translateX(-300px);
  -webkit-transition: -webkit-transform .3s ease-in;
  border-right: 1px solid #ccc;

  @include headbar;

  .book-list {
    .book {
      margin: 8px 5px;
      border: 1px solid #ccc;
      border-left: 3px solid #EB7092;
      padding-left: 10px;
      border-radius: 5px;

      position: relative;
      .title {
        font-size: 18px;
        padding: 8px;
        color: #444;
      }

      .total {
        font-size: 12px;
        padding: 3px 8px;
        color: #888;
      }

      &:after {
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        content: '\e809';
        position: absolute;
        right: 16px;
        top: 8px;
        font-size: 28px;
        color: #EB7092;
      }
    }
  }



}


.list {
  position: absolute;
  left: 44px;
  top: 0;
  bottom: 0;
  width: 340px;
  border-right: 1px solid #E6E6E6;
  z-index: 10;
  -webkit-transition: transform .3s ease-in, opacity .3s ease-in;
  transform-origin: left;

  @include headbar;

  .note-list {
    position: absolute;
    top: 44px;
    bottom: 0;
    overflow-y: auto;
    width: 339px;

    li {
      overflow: hidden;
      position: relative;
      height: 95px;
      border-bottom: 1px solid #ccc;
      list-style: none;


      &.selected {
        background-color: #f8f8f8;
      }
      &.tpd {
        .title {
          position: absolute;
          left: 10px;
          top: 10px;
          font-size: 14px;
          width: 220px;
          overflow: hidden;
          overflow-wrap: break-word;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: break-word;
        }

        .desc {
          position: absolute;
          left: 10px;
          top: 33px;
          width: 220px;
          overflow: hidden;
          overflow-wrap: break-word;
          text-overflow: ellipsis;
          word-wrap: break-word;
          height: 55px;
          color: #999;
        }
      }

      &.dt {
        .title {
          margin: 10px;
          margin-bottom: 4px;
          font-size: 14px;
          overflow: hidden;
          color: #444;
        }
        .tags {
          margin:10px;

          .tag {
            background-color: #4BCA81;
            color: white;
            padding: 2px 8px;
            border-radius: 2px;
            font-size: .8rem;
            margin-right: .4rem;
          }
        }

        .desc {
          margin: 0 10px;
          line-height: 22px;
          height: 22px;
          overflow: hidden;
          color: #999;
        }
      }

      .rm {
        display: none;
        position: absolute;
        right: 10px;
        top: 10px;
        color: #525252;
        font-size: 16px;
        cursor: pointer;
      }

      &:hover .rm {
        display: block;
      }

    }
  }
}


.content {
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  left: 384px;
  background-color: #fff;
  -webkit-transition: left .3s ease-in;

  @include headbar;

  .editbox {
    overflow: auto;
    outline: none;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 4px;
    top: 104px;

    textarea {
      position: absolute;
      left:0;right:0;top:0;bottom: 0;
      width: 100%;
      border: none;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
      color: #333;
      font-family:'Microsoft YaHei', "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
      font-size: 16px;
      line-height: 1.6;
      word-wrap: break-word;
      outline: none;
    }
  }

  .title {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50px;
    border-bottom: 1px solid #E6E6E6;

    input {
      width: 50%;
      font-size: 16px;
      padding: 5px 5px 5px 0;
      line-height: 28px;
      border: none;
      outline: none;
    }

    .tag-edit {
      width: 400px;
      position: absolute;
      right: 0px;
      border: 1px solid #e8e8e8;
      padding: 10px;
      top: 0px;
      background-color: #fff;
      z-index: 1001;

      div.tags {
        padding: 5px;
        .close {
          position: absolute;
          right: 20px;
          top: 10px;
          font-size: 16px;
          font-weight: 100;
          color: #666;
        }

        .tag {
          padding: 2px 10px 2px 5px;
          border: 1px solid #f1f1f1;
          cursor: pointer;
          margin-right: 8px;
          margin-right: 5px;
        }


        .on {
          .tag:before {
            content: '■';
            color: #9BCE35;
            font-size: 24px;
          }
        }

        .off {
          .tag:before {
            content: '□';
            color: #9BCE35;
            font-size: 24px;
          }
        }
      }

      input {
        width: 300px;
        font-size: 14px;
        padding-left: 8px;
      }
    }

    >div.tags {
      float: right;
      text-align: right;
      margin-top: 6px;
    }
  }
}

.mark-down-section {
  height: 20px;
}


.tag {
  padding: 2px 10px 2px 5px;
  border: 1px solid #f1f1f1;
  cursor: pointer;
  margin-right: 8px;
  margin-right: 5px;
}
