@charset "UTF-8";
.hidden {
  display: none; }

.mask {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: opacity .3s ease-out;
  display: none; }

pre {
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  word-wrap: break-word;
  /* IE 5+ */ }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  _background-color: #f0f0f0; }

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  _background-color: #bfbfbf;
  background-color: rgba(0, 0, 0, 0.25); }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-corner {
  background-color: #e6e6e6; }

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

html {
  font-size: 14px;
  font-family: 'Microsoft YaHei UI','Microsoft YaHei',sans-serif; }

.template {
  display: none; }

.sidebar {
  width: 44px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #F9F9F9;
  border-right: 1px solid #E6E6E6;
  z-index: 10; }
  .sidebar i {
    font-size: 1.2rem;
    color: #fff;
    float: left;
    cursor: pointer;
    transition: background-color .3s ease-out; }
    .sidebar i.icon-plus {
      font-size: 1.5rem; }
    .sidebar i:before {
      width: 44px;
      margin: 0;
      display: inline-block;
      height: 44px;
      text-align: center;
      color: #444;
      font-weight: 100;
      vertical-align: middle;
      line-height: 44px; }
    .sidebar i:hover {
      background-color: #DDEBF7; }
    .sidebar i.icon-menu.on:before {
      background-color: #0076DE;
      color: #fff; }
    .sidebar i.icon-cog {
      position: absolute;
      left: 0;
      bottom: 0; }

.navby {
  z-index: 9; }

.nav-books {
  width: 200px;
  position: absolute;
  left: 44px;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transform: translateX(-100px);
  -webkit-transition: -webkit-transform .3s ease-in;
  background: #f6fafd;
  border-right: 1px solid #e5ebf1; }
  .nav-books .headbar {
    background-color: #0076DE;
    color: #fff;
    height: 44px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    .nav-books .headbar i {
      font-style: normal;
      line-height: 44px;
      padding: 12px;
      font-size: 14px; }
      .nav-books .headbar i.icon-ok {
        float: right;
        display: inline-block;
        padding: 0 10px; }
      .nav-books .headbar i:hover {
        background-color: #0078D7;
        cursor: pointer; }
    .nav-books .headbar .addNote {
      line-height: 44px;
      font-style: normal;
      font-size: 18px;
      padding: 10px;
      cursor: pointer; }
      .nav-books .headbar .addNote:before {
        margin-right: 10px;
        font-size: 20px; }
      .nav-books .headbar .addNote:hover {
        background-color: #00AEEF; }
  .nav-books .book-list .book {
    cursor: pointer;
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid #DADADA;
    height: 66px;
    /*
    &:after {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      content: '\e809';
      position: absolute;
      right: 16px;
      top: 8px;
      font-size: 28px;
      color: #EB7092;
    }
    */ }
    .nav-books .book-list .book .edit {
      display: none; }
    .nav-books .book-list .book .title {
      font-size: 18px;
      padding: 12px 0 0 12px;
      color: #444; }
    .nav-books .book-list .book .total {
      font-size: 12px;
      padding: 3px 0px 12px 12px;
      color: #888; }
    .nav-books .book-list .book .oprs {
      position: absolute;
      right: 12px;
      font-size: 16px;
      top: 4px;
      display: none; }
    .nav-books .book-list .book.selected {
      background: #e3f0fc;
      border-style: solid;
      border-width: 1px 0;
      border-color: #d9ebfc #d9ebfc #d9ebfc #3083eb; }
      .nav-books .book-list .book.selected .oprs {
        display: block;
        color: #3083eb; }
      .nav-books .book-list .book.selected .title {
        color: #3083eb; }
    .nav-books .book-list .book.editing .edit {
      display: block; }
      .nav-books .book-list .book.editing .edit input {
        font-size: 18px;
        margin: 6px 0 0 6px;
        padding: 3px;
        color: #444;
        width: 180px;
        border: 1px solid #DADADA;
        outline: none; }
    .nav-books .book-list .book.editing .btns {
      margin: 8px 12px; }
      .nav-books .book-list .book.editing .btns a {
        margin-right: 10px; }
    .nav-books .book-list .book.editing .disp {
      display: none; }

.list {
  position: absolute;
  left: 44px;
  top: 0;
  bottom: 0;
  width: 340px;
  border-right: 1px solid #E6E6E6;
  z-index: 10;
  -webkit-transition: transform .3s ease-in, opacity .3s ease-in;
  transform-origin: left;
  background-color: #fff; }
  .list .headbar {
    background-color: #0076DE;
    color: #fff;
    height: 44px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    .list .headbar i {
      font-style: normal;
      line-height: 44px;
      padding: 12px;
      font-size: 14px; }
      .list .headbar i.icon-ok {
        float: right;
        display: inline-block;
        padding: 0 10px; }
      .list .headbar i:hover {
        background-color: #0078D7;
        cursor: pointer; }
    .list .headbar .addNote {
      line-height: 44px;
      font-style: normal;
      font-size: 18px;
      padding: 10px;
      cursor: pointer; }
      .list .headbar .addNote:before {
        margin-right: 10px;
        font-size: 20px; }
      .list .headbar .addNote:hover {
        background-color: #00AEEF; }
  .list .note-list {
    position: absolute;
    top: 44px;
    bottom: 0;
    overflow-y: auto;
    width: 339px; }
    .list .note-list .empty {
      position: absolute;
      left: 0;
      right: 0;
      top: 200px;
      text-align: center; }
    .list .note-list li {
      overflow: hidden;
      position: relative;
      height: 95px;
      border-bottom: 1px solid #ccc;
      list-style: none; }
      .list .note-list li.selected {
        background-color: #f8f8f8; }
      .list .note-list li.tpd .title {
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 14px;
        width: 220px;
        overflow: hidden;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word; }
      .list .note-list li.tpd .desc {
        position: absolute;
        left: 10px;
        top: 33px;
        width: 220px;
        overflow: hidden;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        word-wrap: break-word;
        height: 55px;
        color: #999; }
      .list .note-list li.dt .title {
        margin: 10px;
        margin-bottom: 4px;
        font-size: 14px;
        overflow: hidden;
        color: #444; }
      .list .note-list li.dt .tags {
        margin: 10px; }
        .list .note-list li.dt .tags .tag {
          background-color: #4BCA81;
          color: white;
          padding: 2px 8px;
          border-radius: 2px;
          font-size: .8rem;
          margin-right: .4rem; }
      .list .note-list li.dt .desc {
        margin: 0 10px;
        line-height: 22px;
        height: 22px;
        overflow: hidden;
        color: #999; }
      .list .note-list li .rm {
        display: none;
        position: absolute;
        right: 10px;
        top: 10px;
        color: #525252;
        font-size: 16px;
        cursor: pointer; }
      .list .note-list li:hover .rm {
        display: block; }

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 384px;
  background-color: #fff;
  -webkit-transition: left .3s ease-in; }
  .content .headbar {
    background-color: #0076DE;
    color: #fff;
    height: 44px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    .content .headbar i {
      font-style: normal;
      line-height: 44px;
      padding: 12px;
      font-size: 14px; }
      .content .headbar i.icon-ok {
        float: right;
        display: inline-block;
        padding: 0 10px; }
      .content .headbar i:hover {
        background-color: #0078D7;
        cursor: pointer; }
    .content .headbar .addNote {
      line-height: 44px;
      font-style: normal;
      font-size: 18px;
      padding: 10px;
      cursor: pointer; }
      .content .headbar .addNote:before {
        margin-right: 10px;
        font-size: 20px; }
      .content .headbar .addNote:hover {
        background-color: #00AEEF; }
  .content .editbox {
    overflow: auto;
    outline: none;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 4px;
    top: 104px; }
    .content .editbox textarea {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      border: none;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
      color: #333;
      font-family: 'Microsoft YaHei', "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
      font-size: 16px;
      line-height: 1.6;
      word-wrap: break-word;
      outline: none; }
  .content .title {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50px;
    border-bottom: 1px solid #E6E6E6; }
    .content .title input {
      width: 50%;
      font-size: 16px;
      padding: 5px 5px 5px 0;
      line-height: 28px;
      border: none;
      outline: none; }
    .content .title .tag-edit {
      width: 400px;
      position: absolute;
      right: 0px;
      border: 1px solid #e8e8e8;
      padding: 10px;
      top: 0px;
      background-color: #fff;
      z-index: 1001; }
      .content .title .tag-edit div.tags {
        padding: 5px; }
        .content .title .tag-edit div.tags .close {
          position: absolute;
          right: 20px;
          top: 10px;
          font-size: 16px;
          font-weight: 100;
          color: #666; }
        .content .title .tag-edit div.tags .tag {
          padding: 2px 10px 2px 5px;
          border: 1px solid #f1f1f1;
          cursor: pointer;
          margin-right: 8px;
          margin-right: 5px; }
        .content .title .tag-edit div.tags .on .tag:before {
          content: '■';
          color: #9BCE35;
          font-size: 24px; }
        .content .title .tag-edit div.tags .off .tag:before {
          content: '□';
          color: #9BCE35;
          font-size: 24px; }
      .content .title .tag-edit input {
        width: 300px;
        font-size: 14px;
        padding-left: 8px; }
    .content .title > div.tags {
      float: right;
      text-align: right;
      margin-top: 6px; }

.mark-down-section {
  height: 20px; }

.tag {
  padding: 2px 10px 2px 5px;
  border: 1px solid #f1f1f1;
  cursor: pointer;
  margin-right: 8px;
  margin-right: 5px; }

/*# sourceMappingURL=main.css.map */
